<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
</head>
<body>
    <form action="/workingwithforms/contact/" method="post">
        {% csrf_token %}
	{{ form.non_field_errors }}
	<div class="fieldWrapper">
	    {{ form.subject.errors }}
	    <label for="id_subject">Email subject:</label>
	    {{ form.subject }}
	</div>
	<div class="fieldWrapper">
	    {{ form.message.errors }}
	    <label for="id_message">Your message:</label>
	    {{ form.message }}
	</div>
	<div class="fieldWrapper">
	    {{ form.sender.errors }}
	    <label for="id_sender">Your email address:</label>
	    {{ form.sender }}
	</div>
	<div class="fieldWrapper">
	    {{ form.cc_myself.errors }}
	    <label for="id_cc_myself">CC yourself?</label>
	    {{ form.cc_myself }}
	</div>
        <input type="submit" value="Submit" />
    </form>
</body>
</html>
