<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Enter Data</title>
</head>
<body>
    <h3>Enter Data For Your Query</h3>
    {{ form.non_field_errors }}
    <form action="/runaquery/enterdata/" method="post">
        {% csrf_token %}
	<table>
	
		{% comment "Use this to let Django render form as table" %}
		{{ form.as_table }}
		{% endcomment %}
		<tr>
			{{form.biginteger.errors}}
			<td><label for="id_biginteger">Enter number of rows: </label></td>
			<td>{{ form.biginteger }}</td>
		</tr>

	</table>
        <input type="submit" value="Submit" />
    </form>
</body>
</html>
