<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Notifications</title>
	</head>
	<body>
		{{ form.non_field_errors }}
		<h1>Notification</h1>

		<table>
			<tr>
                <td>
		<form action="/notification/new/" method="POST">
			{% csrf_token %}
			<table>
				{{ form.as_table }}
			</table>
			<input type="submit" value="Submit" />
		</form>
        <td>
        </tr>
			<tr>
				<td>
				<form action="/notification/all">
                    <button type="submit">Back</button>
				</form>
				</td>
			</tr>
		</table>
	</body>
</html>
