{% extends "base.html" %}

{% block title %}Notifications{% endblock title %}

{% block content %}

<h1>Notifications</h1>
{% if notifications.count > 0 %}
<table>
	<tr>
		<th class="b3">Headline</th>
		<th>Client</th>
		<th>Ticket</th>
		<th>Raised</th>
	</tr>
	{% for notification in notifications %}

	<tr>
		<td>
			<a href="/notification/{{ notification.id }}">{{ notification.headline }}</a>
		</td>
		<td>{{ notification.client }}</td>
		<td>{{ notification.ticket }}</td>
		<td>{{ notification.raised }}</td>
	</tr>
	{% endfor %}
</table>

{% else %}
No notifications to display.
{% endif %}
<p>
<a href="/">Back to SD Tools</a>
</p>
<p>
<a href="/notification/new/">New Notification</a>
</p>
{% endblock content %}
