<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Email Preview</title>
</head>
<body>
    {{ form.non_field_errors }}
    {{ client }}
    {{ noti_type }}
    {{ ticket_no }}
    {{ headline }}
    {{ requestor_name }}

	<table>
		<tr>
			<td>
    <form action="/notification/add_update/" method="GET">
        <input type="submit" value="Back" />
    </form>
			</td>
			<td>
    <form action="/notification/send_email/" method="GET">
        <input type="submit" value="Send" />
    </form>
			</td>
		</tr>
	</table>


	{% comment %}
    {% for key,value in request.items %}
        <table>
            <tr>
                <td>{{ key }}</td>
                <td>{{ value }}</td>
            </tr>
        </table>
    {% endfor %}
	{% endcomment %}
</body>
</html>
